nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9c2c2;
  padding: 10px;
}

/* Estilo del logo */
.logo img {
  border-radius: 50px;
  width: 80px;
  height: 80px;
  margin-left: 35px;
}

/* Estilo de los enlaces de navegación */
.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.nav-links li {
  margin-right: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #9f3131;
}
